{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sexto Projeto</title>
</head>
<body background="{% static 'home/images/fundo.png' %}">
    <div style="width: 900px; margin: 21.5px auto;">
        <img src="{% static 'home/images/logo.png' %}" alt="">
        <a href="#" style="margin-left: 50%;">Home</a> |
        <a href="#">Quem Somos</a> |
        <a href="#">Contato</a>
    </div>
    <div style="width: 900px; margin: 0px auto;">
        <img src="{% static 'home/images/capa.png' %}" alt="">
    </div>
    <div style="width: 900px; margin: 0px auto;">
        <h2>Sobre a Universidade </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolores aut repellat deserunt porro, dolorum repudiandae saepe neque commodi doloribus dolorem cumque totam illo facilis error quis alias, recusandae officiis nemo tenetur ad corporis placeat sequi. Possimus, adipisci voluptatem ratione porro cupiditate quam mollitia optio, at voluptatum quis laboriosam sapiente recusandae repellat numquam assumenda nulla quisquam fugit laborum ipsum dolor, deleniti veniam. Accusamus reprehenderit voluptatem vitae mollitia pariatur eaque, cumque animi tempora vero repellat doloribus optio commodi laboriosam temporibus fugiat maiores voluptatibus dolorum. Eveniet ad dolores ab libero quasi placeat distinctio laboriosam facere reprehenderit? Nostrum maxime sequi modi vel deleniti.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat tempore accusantium dolorum doloremque praesentium numquam fugit omnis corrupti, explicabo ratione iure, corporis beatae velit sit repellendus nostrum! Saepe, voluptatem molestiae.</p>
    </div>
    <div style="width: 900px; margin: 0px auto;">
        <h4 style="text-align: center;">Todos os direitos reservados</h4>
    </div>
</body>
</html>